GROQ_API_KEY=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
CLICKHOUSE_HOST=
CLICKHOUSE_PORT=9000
CLICKHOUSE_DB=hazardwatch
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
